<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:3001/post" method="POST">
        <div class="form-group">
        
          <label for="exampleInputEmail1">name</label>
          <input   name="Imgbanner">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <form action="http://localhost:3001/delete" method="DELETE">
        <div class="form-group">
          <label for="exampleInputEmail1">id</label>
          <input   name="id">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        
        <button type="submit" class="btn btn-primary">DELEte</button>
      </form>
</body>
</html>